networks:
  dockerapps-net:
    external: true

services:
# ------------------------------------------------
# 1. CADDY (Reverse Proxy)
# ------------------------------------------------
  caddy:
    image: serfriz/caddy-cloudflare-ddns-crowdsec-geoip:latest
    container_name: caddy
    hostname: caddy
    networks:
      dockerapps-net:
        # Caddy's internal static IP
        ipv4_address: 172.20.0.23
        ipv6_address: 2001:db8:abc2::23
    ports:
      - "80:80"
      - "443:443"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - CROWDSEC_API_KEY=${CROWDSEC_API_KEY}
      - ROOT_DOMAIN=${ROOT_DOMAIN}
      # This is for Caddy's basic_auth if we were to reverse proxy goaccess to a site via caddy
      #- LOGS_USER=${LOGS_USER}
      #- LOGS_PASS_HASH=${LOGS_PASS_HASH}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile # Caddy's config file
      - ./data:/data                      # For certs & persistent data
      - ./config:/config                  # For Caddy's internal config
      - ./logs:/var/log/caddy
      # Mount the Maxmind Folder - Caddy will read from /etc/caddy/maxmind/GeoLite2-Country.mmdb
      - ./maxmind:/etc/caddy/maxmind:ro
      # Since we no longer serving goaccess via a sub-domain through caddy anymore, commenting this out
      # - ./goaccess/html:/srv/goaccess-report
      # WUD cannot check it on Docker Hub (prevents 401 errors).
    #labels:
    #  - "wud.watch=false"
    #  - "com.getarcaneapp.arcane.updater=false"
    restart: unless-stopped

# ------------------------------------------------
# 2. MAXMIND UPDATER (Auto-Updates Geo-IP DBs)
# ------------------------------------------------
  maxmind:
    image: ghcr.io/maxmind/geoipupdate
    container_name: maxmind
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.30
        ipv6_address: 2001:db8:abc2::30
    user: "${PUID}:${PGID}"
    environment:
      - GEOIPUPDATE_ACCOUNT_ID=${MAXMIND_ACCOUNT_ID}
      - GEOIPUPDATE_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-Country
      - GEOIPUPDATE_FREQUENCY=72
    volumes:
      # Maps local 'maxmind' folder to the container's data folder
      - ./maxmind:/usr/share/GeoIP
    restart: unless-stopped

# ------------------------------------------------
# 3. VOIDAUTH
# ------------------------------------------------
  voidauth: 
    image: voidauth/voidauth:latest
    container_name: voidauth
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.37
        ipv6_address: 2001:db8:abc2::37
    user: "${PUID}:${PGID}"
    volumes:
      - ./voidauth/config:/app/config
      - ./voidauth/db:/app/db
    ports:
      - "3002:3000"
    environment:
      - APP_URL=https://auth1.${ROOT_DOMAIN}
      - PASSWORD_STRENGTH=${PASS_STRENGTH}
      - APP_TITLE=${APP_TITLE}
      - STORAGE_KEY=${VOIDAUTH_STORAGE_KEY}
      - DB_ADAPTER=sqlite
    restart: unless-stopped
    depends_on:
      - caddy

