# ----------------------------------------------------------------------------------
# AUTHENTIK - IDENTITY PROVIDER (SSO)
# ----------------------------------------------------------------------------------
networks:
  dockerapps-net:
    external: true

services:

  # 1. Database (PostgreSQL)
  authentik-db:
    image: docker.io/library/postgres:16-alpine
    container_name: authentik-db
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.34
        ipv6_address: 2001:db8:abc2::34
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${AUTHENTIK_PG_PASS}
      - POSTGRES_USER=${AUTHENTIK_PG_USER}
      - POSTGRES_DB=authentik
    restart: unless-stopped

  # 2. Authentik Server (The Brain)
  authentik-server:
    # Using '2025.10' pulls 2025.10.1, .2, .3 automatically on re-pull
    image: ghcr.io/goauthentik/server:2025.10
    container_name: authentik-server
    hostname: authentik
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.35
        ipv6_address: 2001:db8:abc2::35
    command: server
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=authentik-db
      - AUTHENTIK_POSTGRESQL__USER=${AUTHENTIK_PG_USER}
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD=${AUTHENTIK_PG_PASS}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
      # SOCKET PROXY CONNECTION
      - DOCKER_HOST=tcp://socket-proxy:2375
    volumes:
      - ./media:/media
      - ./templates:/templates
    ports:
      - 9000:9000
      - 8443:9443
    restart: unless-stopped
    depends_on:
      authentik-db:
        condition: service_healthy

  # 3. Authentik Worker (Background Tasks)
  authentik-worker:
    # UPDATED: Must match Server version exactly
    image: ghcr.io/goauthentik/server:2025.10
    container_name: authentik-worker
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.36
        ipv6_address: 2001:db8:abc2::36
    command: worker
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=authentik-db
      - AUTHENTIK_POSTGRESQL__USER=${AUTHENTIK_PG_USER}
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD=${AUTHENTIK_PG_PASS}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
      # SOCKET PROXY CONNECTION
      - DOCKER_HOST=tcp://socket-proxy:2375
    user: root
    volumes:
      - ./media:/media
      - ./certs:/certs
      - ./templates:/templates
    restart: unless-stopped
    depends_on:
      authentik-db:
        condition: service_healthy
